<div class="flex h-full flex-col bg-white px-6">
  <div class="flex-none z-0 py-6">
    <%= link_to :back, class: "flex w-full" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
      </svg>
      <div>
        <p>Debt</p>
        <p class="text-sm">new</p>
      </div>
    <% end %>
  </div>
  <%= render "form", dette: @dette %>
</div>
